<%- include('../partials/header.ejs') -%>
<%- include('../partials/navbar.ejs') -%>


<div class="container mt-3  pt-5 ">
     <h2><%= post.title %></h2>
               <p><%= post.body %></p>
</div>
<%- include('../partials/footer.ejs') -%>